*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 0%;
}
header{
    width: 100%;
    height: 80vh;
    background-image: url(images/bg.image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    display: flex;
    width: 100%;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
}
.top h4{
    margin-left: 20px;
}
.top p{
    margin-right: 20px;
}
.top p a{
    text-decoration: none;
    color: orange;
}
nav{
    width: 100%;
    height: 10vh;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
nav .logo{
    width: 25%;
    text-align: center;
}
nav .logo img{
    width: 40%;
    text-align: center;
}
nav .menu{
    width: 50%;
}
nav .menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav .menu ul a{
    color: black;
    text-decoration: none;
}
nav .menu ul a:hover{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.btn button{
    border-radius: 100px;
    background-color: lightgray;
    width: 140px;
    height: 30px;
    box-shadow: 2px 3px 2px gray;
    font-size: 12px;
}
.btn button:hover{
    background-color: red;
}
.content{
    width: 100%;
    height: 50vh;
    margin-top: 225px;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: black;
}
.content button{
    border-radius: 30px;
    background-color: rgb(179, 166, 166);
    color: black;
    width: 150px;
    height: 30px;
    margin-top: 15px;
    font-weight: bold;
}
.content button:hover{
    background-color: red;
    color:black;
}
.intro{
    text-align: center;
    margin-top: 30px;
}
.course-offer{
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 100px;
    margin-top: 40px;
}
.course1 img{
    width: 360px;
    height: 200px;
    margin-right: 40px;
}
.course2 img{
    width: 360px;
    height: 200px;
    margin-right: 40px;
}
.course3 img{
    width: 360px;
    height: 200px;
    margin-right: 40px;
}
.course-offer1{
    width: 50%;
    height: 50px;
    display: flex;
    margin-left: 100px;
    margin-top: 300px;
}
.course4 img{
    width: 360px;
    height: 200px;
    margin-right: 40px;
}
.course5 img{
    width: 360px;
    height: 200px;
    margin-right: 40px;
}
.course6 img{
    width: 360px;
    height: 200px;
    margin-right: 40px;
}
.footer{
    text-align: center;
    margin-top: 300px;
    display: flex;
    background-color: gray;
    align-items: center center;
    justify-content: space-between;
}
.foot1{
    width: 250px;
    height: fit-content;
    margin-top: 30px;
}
.foot1 img{
    width: 250px;
}
.foot2{
    width: 250px;
    margin-top: 100px;
    color: black;
}
.foot2 p a{
    color: black;
}
.foot3{
    width: 250px;
    margin-top: 100px;
    display: flex;
    color: black;
    justify-content: flex-end;
    margin-right: 40px;
}
.foot3 ul li{
    list-style: none;
}
.foot3 ul li a{
    text-decoration: none;
    color: orange;
}